<div class="container col-md-4" style="display: inline-block">
 <div>
   <img src=""/>
 </div>
 <div>
   <span>User Name: </span><br>
   <span>Name: </span><br>
   <span>Location: </span>
 </div>
 <button>Edit Profile</button>
</div>

<div class="container col-md-6" style="float: right">
  <button ng-click="send()">Send</button>
  <div ng-hide="hideSentMessage" class="ng-hide">You just tickIt forward!</div>
  <button ng-click="redeem()">Redeem</button>
  <div ng-model="user.tickets">{{ user.tickets }}</div>
  <div ng-hide="hideNoTicketsMessage" class="ng-hide">Sorry, you have no more tickets!</div>
  <!-- <span>Redeem Number</span> -->
  <div>Messages</div>
</div>
