<div id='signup' class='input-group container-fluid'>
  <h1>sign up</h1>
  <form name="signupForm" ng-submit='signup()'>
    <div ng-model="hideSignupError" ng-hide="hideSignupError" class="ng-hide">Username is already taken.</div>
    <input type='text' placeholder='Username' ng-model="user.userName">
    <input type="password" placeholder='Password' ng-model="user.password">
    <input type="text" placeholder='First Name' ng-model="user.firstName">
    <input type="text" placeholder='Last Name' ng-model="user.lastName">
    <button>signup</button>
  </form>
  <span>Already have an account? </span><button class="signupBtn"><a href="#/signin">Signin</a>
</div>
